<mat-toolbar color="primary">
    <mat-toolbar-row>
      <a routerLink="/home" style="text-decoration: none; color: white">{{title}}</a>
      <span class="spacer"></span>
      <mat-icon class="icon" aria-hidden="false">verified_user</mat-icon>
    </mat-toolbar-row>
</mat-toolbar>
<div class="container" *ngIf="assignment">
    <h1>Edition de l'assignment {{assignment.name}}</h1>
    <form ngForm class="form">
        <mat-form-field>
            <input matInput placeholder="Edition du nom" [(ngModel)]="name" name="name">
        </mat-form-field>
        <mat-form-field>
            <textarea rows="9" matInput placeholder="Edition du descriptions" [(ngModel)]="description" name="description"></textarea>
        </mat-form-field>
        <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Edition de la date" [(ngModel)]="dueDate"
                name="dueDate">
            <mat-datepicker-toggle matSuffix [for]="picker">
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="onSaveAssignment()">Sauver
        </button>
    </form>
</div>